.color-navbar {
  background-color: #252c41 !important;
  color: #FFFFFF !important;
}

.color-board {
  border-radius: 1em;
  background-color: #A5DFF9 !important;
  color: #000000 !important;
  display: flex;
  flex-flow: column-reverse;
}

.collapsible-header {
  display: flex;
}

.collapsible-body {
  background-color: #F4F7F7 !important;
  color: #000000 !important;
  padding: 1rem;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.collapsible-footer {
  border-top: 1px dashed #BEBEBE !important;
  margin-top: 1rem;
  padding-top: 1rem;
}

.btn {
  z-index: 0;
}

div[class^="styles_modal_"] {
  width: 100%;
}

.collapsible-stars {
  background-color: #FFFFFF;
}

[tooltip]:hover {
  position: relative;
}

[tooltip]:hover:after {
  content: attr(tooltip);

  position: absolute;
	bottom: 100%;
	left: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 0.8em;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;

	z-index: 9;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}
