.color-navbar {
  background-color: #252c41 !important;
  color: #FFFFFF !important;
}

.color-board {
  border-radius: 1em;
  background-color: #A5DFF9 !important;
  color: #000000 !important;
}

.collapsible-header {
  display: block;
}

.collapsible-body {
  background-color: #F4F7F7 !important;
  color: #000000 !important;
  padding: 1rem;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.collapsible-footer {
  border-top: 1px solid !important;
  margin-top: 1rem;
  padding-top: 1rem;
}

.item-menu {
  display: none;
}

.collapsible-header:hover .item-menu {
  display: block;
  float: right !important;
}

.btn {
  z-index: 0;
}

div[class^="styles_modal_"] {
  width: 100%;
}
