.color-navbar {
  background-color: #252c41 !important;
  color: #FFFFFF !important;
}

.color-board {
  border-radius: 1em;
  background-color: #A5DFF9 !important;
  color: #000000 !important;
}

.collapsible-body {
  background-color: #F4F7F7 !important;
  color: #000000 !important;
}
